__pycache__/
*.pyc
*.pyo
*.pyd

*..ipynb 
.Rhistory
.DS_Store

.ipynb_checkpoints/
*.log
*.tmp

*.bz2
*.csv
*.json
!/embeddings/word_pairs_eval.json

*.txt
!/embeddings/REP_subs.txt
!/embeddings/US_subs.txt
!/embeddings/DEM_subs.txt

env/
.venv/

